@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 0;
}

.greeting-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
}

.greeting-text-div {
  display: none;
}

.social-contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.greeting-image-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.single-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting-single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-size: 90px;
  line-height: 1;
  color: $textColor !important;
  text-align: center;
  margin: 0;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Agustina Regular', cursive;
  font-weight: 900;
  letter-spacing: 2px;
  transform: translateY(-10px);
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}

.greeting-images-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.greeting-image-left,
.greeting-image-right {
  width: 350px; /* Fixed width */
  height: 350px; /* Fixed height */
  object-fit: cover; /* Fill the box, crop if necessary */
  object-position: center; /* Center the image within the box */
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .greet-main {
    padding: 0;
    height: 70vh;
  }
  .greeting-main {
    height: 70vh;
  }
  .greeting-image-div {
    height: 70vh;
  }
  .greeting-text {
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    transform: translateY(-5px);
  }
  .greeting-text-div {
    margin-top: 25px;
  }
  .social-contact-container {
    flex-direction: column;
    gap: 20px;
  }
  .greeting-image-left,
  .greeting-image-right {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .greeting-image-left,
  .greeting-image-right {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
  .greeting-image-left,
  .greeting-image-right {
    width: 150px;
    height: 150px;
  }
}
